asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
filelock
MouseInfo
numpy
pillow
pip
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dotenv
pytweening
setuptools
sqlparse
tzdata
virtualenv
