{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div style="width: 50%; margin: auto">
  {% if messages %} {% for m in messages %}
  <small {% if m.tags %} class="text-{{m.tags}}" {% endif %}>{{m}}</small>
  {% endfor %} {% endif %}
  <form
    style="
      width: 100%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 2px 4px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      background: white;
    "
    method="post"
    class="p-4 my-5"
    novalidate
  >
    <h1 class="text-center text-primary mb-4">Registration Page</h1>

    {% csrf_token %}
    <!-- {{form | crispy }} -->
    {% for fm in form.visible_fields %}
    <div class="mb-3">
      {{fm.label_tag}} {{fm}}
      <div class="text-danger">{{fm.errors|striptags}}</div>
    </div>
    {% endfor %}
    <br />
    <div class="text-center">
      <button class="btn btn-primary w-100" type="submit">Submit</button>
    </div>
    <br />
    {% if type == 'Sign Up' %}
    <small>
      Already have an account <a href="{% url 'login' %}">Login</a></small
    >
    {% endif %}
  </form>
</div>

{% endblock %}
